body {
  padding: 0;
  margin: 0;
  background-color: #efeff3;
}

header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

main {
  min-height: 70vh;
}

.container {
  min-height: auto;
  max-width: 60vw;
  margin: 0 auto;
  position: relative;
  text-align: center;
  padding: 50px;
}

.card {
  position: relative;
  background-color: #fff;
  padding: 20px;
  max-width: 60vw;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(100,100,100,.1);
}

.input {
  width: 80%;
  min-height: 40px;
  outline: none;
  border: solid 1px #b3aca7;
  margin-bottom: 20px;
}

input {
  font-size: 20px;
  padding: 0px 10px 0px 10px;
}

textarea {
  max-width: 100%;
  padding: 15px 5px 15px 15px;
}

button {
  width: 40%;
  padding: 15px;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1.3em;
  background-color: #CC0000;
  border-radius: 2px;
  cursor: pointer;
}

h2#title {
  color: #CC0000;
  font-size: 1.8rem;
}

h4#author {
  color: lightslategray;
}

#share {
  float: right;
  cursor: pointer;
}

footer {
  text-align: center;
}

a {
  text-decoration: none;
  color: #FF54C3;
}

@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-resolution:192dpi) {
  .container {
    max-width: 100vw;
    padding: 10px;
  }
  .card {
    max-width: 100vw;
  }
  .input {
    width: 90%;
  }
}